{% extends "base.html" %}

{% block content %}

    <h1>Welcome to Pitcher Lister!</h1>
    
    <div class="img">
        <img src= {{ url_for('static', filename='images/baseball.jpg') }} alt="An image of a player holding baseballs">
    </div>

    <div class="jumbotron text-center">
        <p> This app is used to view different pitchers and keep a custom view only that stats that matter to YOU.</p>
        <!-- <form action="{{ url_for('search')}}" class="form my-2 my-lg-0">
            <input class="'form-control mr-sm-2"
            type="search" placeholder="Enter a pitcher's name" aria-label="Search aria" name="search_term">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.search_term.label }}{{ form.search_term() }} {{ form.submit() }}
        </form>
    </div>

{% endblock %}
