{% extends "base.html" %}
{% block content %}

<h1> List of all pitchers </h1>

    <table class="table table-hover">
        
        <tr>
            <th>
                Name
            </th>

            {% for col_name in display_stats %}
            <th> {{ col_name }} </th>                
            {% endfor %}
        </tr>
        
        {% for player in players.keys() %}
            <tr>
                    <td> {{ player }} </td>
                {% for stat in display_stats %}
                    <td> {{ players[player][stat] }} </td>
                {% endfor %}  
            </tr>
        {% endfor %}
    </table>

{% endblock %}