{% extends "base.html" %}
{% block content %}
<div>
    <h1 style="text-align:left;margin-left:50px"> <img src= "../static/images/team_logos/{{ last_team }}.png" alt="team logo" class="img-thumbnail" width="4%" height="4%"> {{ pitcher_name }}</h1>
    <hr class="my-4">
</div>

<div style="margin: 25px;">
    <img src= "../{{ img_filename }}" alt="Chart of pitcher stats">
</div>

<div>
    <table class="table" style="width:80%">
        <tr>
            <th> Season </th>
            <th> Team </th>
            {% for stat in display_stats %}
            <th> {{ stat }} </th>
            {% endfor %}

            {% for record in table_records %}
            <tr> 
                <td>
                    {{ record['Season'] }}
                </td>
                <td>
                    {{ record['Team'] }}
                </td>
                {% for stat in display_stats %}
                <td> {{ record[stat] }} </td>
                {% endfor %}
            </tr>
            {% endfor %}

    </table>
</div>

{% endblock content %}