{% extends "base.html" %}
{% block content %}

{% if search_term %}
    <p> You searched for {{ search_term }} </p>

    {% if len_of_df > 0 %}
    <img src= {{ img_filename }} alt="Chart of pitcher stats">
    <div>
        {% for table in tables %}
            {{ titles[loop.index] }}
            {{ table|safe }}
        {% endfor %}
    </div>

    {% else %}
    <p> No results were found. </p> 
    {% endif %}}




{% else %}
<p> Please search for a pitcher: </p>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.search_term.label }}{{ form.search_term() }} 
    {{ form.submit() }}
</form>

{% endif %}




{% endblock content %}