{% extends "base.html" %}
{% block content %}

{% if search_term %}
<p> You searched for {{ search_term }} </p>
    
    {% if search_term in players.keys() %}
        <table class="table table-hover">
            <tr>
                <th>
                    Name
                </th>

                {% for col_name in display_stats %}
                <th> {{ col_name }} </th>                
                {% endfor %}

            </tr>
            
            <tr>
                <td> {{ search_term }} </td>

                {% for stat in display_stats %}
                <td> {{ players[search_term][stat] }} </td>
                {% endfor %}  
            </tr>
        </table>
        
    {% else %}
        <p> {{ search_term }} was not found. Please use the complete name of the pitcher in the search bar.</p>
    {% endif %}   

{% else %}
<p> Please search for a pitcher: </p>
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.search_term.label }}{{ form.search_term() }} 
    {{ form.submit() }}
</form>

{% endif %}




{% endblock content %}